[Desktop Entry]
Name=Brave Web Browser
GenericName=Web Browser
Keywords=Internet;WWW;Browser;Web;Explorer
Exec=EXEC_COMMAND %F
Icon=ICON_PATH
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
